## encoding: utf-8
<%!

areas = [
        # ID         Icon            Label             Destination
        ('overview', 'home',         "Overview",       "/"),
        ('keys',     'key',          "API Keys",       "/key/"),
        ('apps',     'puzzle-piece', "Applications",   "/application/"),
        ('chars',    'user',         "Characters",     "/character/"),
        ('group',    'group',        "Groups",         "/group/"),
        ('admin',    'dashboard',    "Admin Panel",    "/admin/"),
    ]

%>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <i class="brand fa fa-key"></i>
        <h1 class="brand">
             <a href="/index.html">Brave<span class="hidden-phone"> Collective</span></a> <span class="app">Core Services</span>
        </h1>

        <ul class="nav pull-right">
% if web.auth.authenticated:
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i><span class="hidden-phone"> ${web.user.username | h}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/account/"><i class="fa fa-cog"></i> ${_("Profile")}</a></li>
                    <li><a href="/account/settings"><i class="fa fa-cog"></i> ${_("Settings")}</a></li>
                    <li class="divider"></li>
                    <li><a href="/help"><i class="fa fa-question"></i> ${_("Help")}</a></li>
                    <li class="divider"></li>
                    <li><a href="/account/deauthenticate"><i class="fa fa-sign-out"></i> ${_("Sign Out")}</a></li>
                </ul>
            </li>
% else:
            <li>
                <a href="/account/authenticate">
                    <i class="fa fa-sign-in"></i><span class="hidden-phone"> ${_("Sign In")}</span>
                </a>
            </li>
% endif
        </ul>

        <!-- shows same menu as sidebar but for mobile devices -->
        <button type="button" class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse visible-phone mobile-menu">
            <ul class="nav">
% for id, icon, label, url in areas:
                <li \
                    ${'class="active"' if context.get('area', 'overview') == id else ''} \
                    ><a href="${url}"><i class="fa fa-${icon}"></i> ${label}</a></li>
% endfor
            </ul>
        </div>
        <!-- end navbar for mobile devices -->
    </div>
</div>

<div id="sidebar-nav" class="hidden-phone">
    <ul id="dashboard-menu">
% for id, icon, label, url in areas:
    % if context.get('area', 'overview') == id:
        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
    % else:
        <li>
    % endif
            <a href="${url}">
                <i class="fa fa-${icon} fa-2x fa-fw"></i>
                <span>${label}</span>
            </a>
        </li>
% endfor
    </ul>
</div>
